.recipe-image {
    position: relative;
    width: 150px
}
.delete-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: .6rem;
    font-weight: 300;
    padding: 2px 4px;
    border: none;
}

.delete-row {
    border: none;
    background: none;
}
